include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt

recursive-include deepprostate/resources *
recursive-include docs *.md *.rst
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude * *.swp
recursive-exclude * *.swo
recursive-exclude * *~
